BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
FREQUENCY 33.250000 MHz ;
FREQUENCY NET "MAIN_CLK" 33.250000 MHz PAR_ADJ 2.000000 ;
IOBUF PORT "PARALLEL_RXFILLEDN" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "PARALLEL_TXENABLEDN" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "PARALLEL_RDN" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "PARALLEL_WR" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PARALLEL_DATA_IO[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_PWREN" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE CLAMP=OFF OPENDRAIN=ON ;
LOCATE COMP "PARALLEL_WR" SITE "C6" ;
LOCATE COMP "PARALLEL_RDN" SITE "B6" ;
LOCATE COMP "PARALLEL_RXFILLEDN" SITE "D6" ;
LOCATE COMP "PARALLEL_TXENABLEDN" SITE "C4" ;
LOCATE COMP "PARALLEL_PWREN" SITE "E5" ;
LOCATE COMP "PARALLEL_DATA_IO[7]" SITE "A6" ;
LOCATE COMP "PARALLEL_DATA_IO[6]" SITE "B5" ;
LOCATE COMP "PARALLEL_DATA_IO[5]" SITE "A5" ;
LOCATE COMP "PARALLEL_DATA_IO[4]" SITE "B4" ;
LOCATE COMP "PARALLEL_DATA_IO[3]" SITE "A4" ;
LOCATE COMP "PARALLEL_DATA_IO[2]" SITE "C3" ;
LOCATE COMP "PARALLEL_DATA_IO[1]" SITE "B3" ;
LOCATE COMP "PARALLEL_DATA_IO[0]" SITE "D3" ;
LOCATE COMP "SPI_CSN" SITE "E2" ; // should have been E1 "SN" which unfortunately is NOT AVAILABLE! because it is the SysConfig !CS and cannot be repurposed - thus it must remain unused.
SYSCONFIG JTAG_PORT=DISABLE MCCLK_FREQ=33.25 ; // set JTAG_PORT disabled to recover GPIOs in user mode, requires B2 "JTAGENB" connected to VCCIO (for programming), pulled to GND for regular operation
// SYSCONFIG MUX_CONFIGURATION_PORTS=ENABLE ; // debug: change role of SysConfig pins
IOBUF PORT "SPI_CSN" PULLMODE=UP IO_TYPE=LVCMOS33 ;
