// http://help.latticesemi.com/docs/webhelp/eng/index.htm#page/Reference%2520Guides%2FConstraints%2520Ref%2Fblock.htm
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
FREQUENCY 33.250000 MHz ;
// INPUT ALLPORTS SETUP 8 ns HOLD 3 ns CLKPORT "clk" ;
FREQUENCY NET "MAIN_CLK" 33.250000 MHz PAR_ADJ 2.000000 ;// route with 20+ MHz constraint // 26.60
// USE PRIMARY NET "MAIN_CLK" ;// do not use generic routing, use dedicated clock net resource instead.
IOBUF PORT "PARALLEL_RXFILLEDN" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "PARALLEL_TXENABLEDN" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "PARALLEL_RDN" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "PARALLEL_WR" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PARALLEL_DATA_IO[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;//  PULLMODE=UP w
IOBUF PORT "PARALLEL_PWREN" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE CLAMP=OFF OPENDRAIN=ON ;
LOCATE COMP "PARALLEL_WR" SITE "E15" ;//5 in PD
LOCATE COMP "PARALLEL_RDN" SITE "F15" ;// 4 in PU
LOCATE COMP "PARALLEL_RXFILLEDN" SITE "G15" ;// 1 out
LOCATE COMP "PARALLEL_TXENABLEDN" SITE "H15" ;// 2 out
LOCATE COMP "PARALLEL_PWREN" SITE "D6" ;// 3 
LOCATE COMP "PARALLEL_DATA_IO[7]" SITE "E16" ;// E16
LOCATE COMP "PARALLEL_DATA_IO[6]" SITE "E14" ;// E14
LOCATE COMP "PARALLEL_DATA_IO[5]" SITE "D16" ;// D16
LOCATE COMP "PARALLEL_DATA_IO[4]" SITE "C15" ;// C15
LOCATE COMP "PARALLEL_DATA_IO[3]" SITE "D14" ;// D14
LOCATE COMP "PARALLEL_DATA_IO[2]" SITE "F14" ;// F14
LOCATE COMP "PARALLEL_DATA_IO[1]" SITE "G14" ;// G14
LOCATE COMP "PARALLEL_DATA_IO[0]" SITE "B16" ;// B16
LOCATE COMP "SPI_CSN" SITE "B11" ;// FT2232 PORTB.CSN, hardened SPI: no constraints
LOCATE COMP "SPI_SDO_ROUTE_i" SITE "A5" ;
LOCATE COMP "SPI_SDO_ROUTE_o" SITE "F10" ;
LOCATE COMP "SPI_CLK_ROUTE_i" SITE "A11" ;
LOCATE COMP "SPI_CLK_ROUTE_o" SITE "A3" ;
LOCATE COMP "SPI_SDI_ROUTE_i" SITE "C11" ;
LOCATE COMP "SPI_SDI_ROUTE_o" SITE "A4" ;
LOCATE COMP "LED_ARRAY[0]" SITE "P16" ;
LOCATE COMP "LED_ARRAY[1]" SITE "N15" ;
LOCATE COMP "LED_ARRAY[2]" SITE "L13" ;
LOCATE COMP "LED_ARRAY[3]" SITE "K11" ;
LOCATE COMP "LED_ARRAY[4]" SITE "L12" ;
LOCATE COMP "LED_ARRAY[5]" SITE "J11" ;
LOCATE COMP "LED_ARRAY[6]" SITE "J13" ;
LOCATE COMP "LED_ARRAY[7]" SITE "H11" ;
IOBUF PORT "SPI_CLK_ROUTE_o" DRIVE=8 IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPI_CLK" DRIVE=8 IO_TYPE=LVCMOS33 ; 
IOBUF PORT "SPI_SDI" DRIVE=4 IO_TYPE=LVCMOS33 ;
LOCATE COMP "DEBUG_OUT[1]" SITE "F7" ;
LOCATE COMP "DEBUG_OUT[0]" SITE "B9" ;
LOCATE COMP "CLK_OUT_SCALED" SITE "C6" ; // test: use TDO line with JTAGENB low to validate user IO over JTAG pins - was C4
IOBUF PORT "CLK_OUT_SCALED" SLEWRATE=FAST IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_OUT[0]" SLEWRATE=FAST IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_OUT[1]" SLEWRATE=FAST IO_TYPE=LVCMOS33 ;
SYSCONFIG JTAG_PORT=DISABLE MCCLK_FREQ=33.25 ;// set JTAG_PORT disabled to recover GPIOs in user mode, requires pull-up to VCCIO (jumper JTAG HDR pin 1 to C10 for programming)

