// http://help.latticesemi.com/docs/webhelp/eng/index.htm#page/Reference%2520Guides%2FConstraints%2520Ref%2Fblock.htm
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
// MachXO2-7000HE: see MachXO2BreakoutBoardEvaluationKitUsersGuide.pdf
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
FREQUENCY 33.250000 MHz ;
// INPUT ALLPORTS SETUP 8 ns HOLD 3 ns CLKPORT "clk" ;
FREQUENCY NET "MAIN_CLK" 33.250000 MHz PAR_ADJ 2.000000 ;// route with 20+ MHz constraint // 26.60
// USE PRIMARY NET "MAIN_CLK" ;// do not use generic routing, use dedicated clock net resource instead.
IOBUF PORT "PARALLEL_RXFILLEDN" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "PARALLEL_TXENABLEDN" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 ;
IOBUF PORT "PARALLEL_RDN" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "PARALLEL_WR" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "PARALLEL_DATA_IO[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;
IOBUF PORT "PARALLEL_DATA_IO[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF ;//  PULLMODE=UP w
IOBUF PORT "PARALLEL_PWREN" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE CLAMP=OFF OPENDRAIN=ON ;
LOCATE COMP "PARALLEL_RXFILLEDN" SITE "111" ;// 1 out
LOCATE COMP "PARALLEL_TXENABLEDN" SITE "112" ;// 2 out
LOCATE COMP "PARALLEL_RDN" SITE "109" ;// 4 in PU
LOCATE COMP "PARALLEL_WR" SITE "110" ;//5 in PD
LOCATE COMP "PARALLEL_PWREN" SITE "113" ;// 3 
LOCATE COMP "PARALLEL_DATA_IO[7]" SITE "126" ;// 26
LOCATE COMP "PARALLEL_DATA_IO[6]" SITE "125" ;// 25
LOCATE COMP "PARALLEL_DATA_IO[5]" SITE "122" ;// 24
LOCATE COMP "PARALLEL_DATA_IO[4]" SITE "121" ;// 23
LOCATE COMP "PARALLEL_DATA_IO[3]" SITE "120" ;// 22
LOCATE COMP "PARALLEL_DATA_IO[2]" SITE "119" ;// 21
LOCATE COMP "PARALLEL_DATA_IO[1]" SITE "117" ;// 20  
LOCATE COMP "PARALLEL_DATA_IO[0]" SITE "115" ;// 19
LOCATE COMP "SPI_CSN" SITE "76" ;// FT2232 PORTB.CSN, hardened SPI: no constraints
LOCATE COMP "SPI_CLK_ROUTE_i" SITE "73" ;
LOCATE COMP "SPI_CLK_ROUTE_o" SITE "42" ;// J5.34->J5.33 (next to pin 44)
LOCATE COMP "SPI_SDO_ROUTE_o" SITE "75" ;
LOCATE COMP "SPI_SDO_ROUTE_i" SITE "43" ;// J5.32->J5.31 (next to pin 45)
LOCATE COMP "SPI_SDI_ROUTE_i" SITE "74" ;
LOCATE COMP "SPI_SDI_ROUTE_o" SITE "69" ;// J5.04->J5.03 (next to pin 71)
LOCATE COMP "LED_ARRAY[0]" SITE "97" ;
LOCATE COMP "LED_ARRAY[1]" SITE "98" ;
LOCATE COMP "LED_ARRAY[2]" SITE "99" ;
LOCATE COMP "LED_ARRAY[3]" SITE "100" ;
LOCATE COMP "LED_ARRAY[4]" SITE "104" ;
LOCATE COMP "LED_ARRAY[5]" SITE "105" ;
LOCATE COMP "LED_ARRAY[6]" SITE "106" ;
LOCATE COMP "LED_ARRAY[7]" SITE "107" ;
IOBUF PORT "SPI_CLK_ROUTE_o" DRIVE=8 IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPI_CLK" DRIVE=8 IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPI_SDI" DRIVE=4 IO_TYPE=LVCMOS33 ;
// LOCATE COMP "DEBUG_OUT[9]" SITE "143";
// LOCATE COMP "DEBUG_OUT[8]" SITE "142";
// LOCATE COMP "DEBUG_OUT[7]" SITE "141";
// LOCATE COMP "DEBUG_OUT[6]" SITE "140";
// LOCATE COMP "DEBUG_OUT[5]" SITE "139";
// LOCATE COMP "DEBUG_OUT[4]" SITE "138";
// LOCATE COMP "DEBUG_OUT[3]" SITE "133";
// LOCATE COMP "DEBUG_OUT[2]" SITE "132";
LOCATE COMP "DEBUG_OUT[1]" SITE "128" ;
LOCATE COMP "DEBUG_OUT[0]" SITE "127" ;
LOCATE COMP "CLK_OUT_SCALED" SITE "143" ;
IOBUF PORT "CLK_OUT_SCALED" SLEWRATE=FAST IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_OUT[0]" SLEWRATE=FAST IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_OUT[1]" SLEWRATE=FAST IO_TYPE=LVCMOS33 ;
SYSCONFIG JTAG_PORT=ENABLE MCCLK_FREQ=33.25 ; // set JTAG_PORT disabled to recover GPIOs in user mode
